<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/82cffc5c0f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <title>Dashboard</title>
</head>
<body>
    <section class="container">
        <video src="{% static 'video/loop-blue.mp4' %}" autoplay muted loop></video>
        <section class="main-panel">
            <section class="crud-tools">
                <div class="logo">
                    <img src="{% static 'img/logo-numan.svg' %}" alt="" class="imagen-responsiva">
                </div>
                <div class="icono-crud">
                    <a href="" class="tooltip"><i class="fas fa-project-diagram"></i>
                        <span class="tooltiptext">Editar Proyectos</span>
                    </a>
                </div>
                <div class="icono-crud">
                    <a href="" class="tooltip"><i class="fas fa-user-astronaut"></i>
                        <span class="tooltiptext">Agregar Miembros al Proyecto</span>
                    </a>
                </div>
                <div class="icono-crud">
                    <a href="" class="tooltip"><i class="fas fa-rocket"></i>
                        <span class="tooltiptext">Editar Avances del Proyecto</span>
                    </a>
                </div>
                <div class="icono-crud">
                    <a href="" class="tooltip"><i class="fas fa-edit"></i>
                        <span class="tooltiptext">Agregar Nota de Blog</span>
                    </a>
                </div>
                <div class="icono-crud">
                    <a href="{% url 'admin:logout' %}" class="tooltip"><i class="fas fa-door-open"></i>
                        <span class="tooltiptext">Salir</span>
                    </a>
                </div>
            </section>
            <section class="panel-grid">
                <div class="item1">
                    <h1>Bienvenido {{ user.username }}</h1>
                    <h2>Estos son los Proyectos a tu cargo {{ date }}</h2>
                    <div>

                    </div>
                    <ul>
                        {% for member in members %}
                    <li>
                        <span class="company">{{ member.company}}</span>
                        <span class="progress">{{ member.progress}}%</span>
                    </li>
                {% endfor %}
                    </ul>
                </div>
                <div class="item2">
                    <h2>Colaboradores Asignados</h2>
                    {% for member in members %}
                    <div class="equipo">
                        <h3 class="colaborador"><i class="fas fa-user-circle"></i> &nbsp; {{ member.coworker}}</h3>
                        <h4>{{ member.status }}</h4>
                        <p>Proyecto: {{ member.assign_project|linebreaksbr }}</p>
                    </div>
                {% endfor %}
                </li>
                </div>
                <div class="item3">
                    <h2>Death Lines Por Proyecto</h2>
                    <ul>
                        {% for member in members %}
                    <li>
                        <span class="enfasis">{{ member.company}}</span> | {{ member.death_line }}
                    </li>
                {% endfor %}
                    </ul>
                </div>  
                <div class="item4">
                    <h2>Repositorios de Marca</h2>
                    <ul>
                        {% for member in members %}
                    <li>
                        <span class="enfasis">{{ member.company}}</span> | &nbsp; <a href="{{ member.url_drive }}" target="_blank"><i class="fab fa-google-drive"></i></a>
                    </li>
                {% endfor %}
                    </ul>
                </div>
                <div class="item5">
                    <h2>Entregables Máxima Prioridad</h2>
                    <ul>
                        {% for member in members %}
                    <li>
                        <span class="enfasis white">{{ member.company}}</span> | {{ member.dummies}}</a>
                    </li>
                {% endfor %}
                    </ul>
                </div>
            </section>
        </section>
    </section>
</body>
</html>